body {
  background-image: url('https://i.pinimg.com/originals/96/1d/27/961d27ec840890c86fc3cde4824c95cb.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-right: -5px;
}

.search-bar button {
  width: 100px;
  height: 40px;
  background-color: rgb(30, 123, 126);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.weather-info {
  text-align: center;
  margin-bottom: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-day {
  text-align: center;
  width: 120px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}

.forecast-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  display: block;
}

.forecast-temp {
  font-size: 18px;
}

.error {
  color: #ff0000;
  font-size: 16px;
}

/* Styling for date and time */
#date-time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
}
